<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/" method="post">
      <label for="english_text">English to Translate:</label>
      <input type="text" name="english_text" id="english_text">
    </form>
  </body>
</html>
